<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        html,
        body {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="ui container center aligned">
        <div id="pageHeader" class="ui huge header center aligned">Hverdagshelt statistikk</div>
<% if(test1) { %>
  <h1><%= test1[2] %></h1>
  <% } %>
        <table class="ui celled structured table">
            <thead>
                <tr>
                    <th rowspan="1">Overkategori</th>
                    <th rowspan="1">Underkategori</th>
                    <th rowspan="1">Antall varslinger</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Vei</td>
                    <td>Sementlegging</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>Brøytestikker</td>
                    <td>287</td>
                </tr>
                <tr>
                    <td rowspan="2">Kloakk</td>
                    <td>Komlokk</td>
                    <td>52</td>
                </tr>
                <tr>
                    <td>Lekasje</td>
                    <td>12</td>
                </tr>
                <% for(var i = 0; i < test1.length; i++) { %>
                  <% for(var j = 0; j < test1.length; j++) { %>
                    <tr>
                      <td><%= test1[i] %></td>
                      <td><%= test1[i] %></td>
                      <td>0</td>
                    </tr>
                  <% } %>
                <% } %>
                <tr>
                  <td class="active">Total</td>
                  <td class="active"></td>
                  <td class="active">100</td>
                </tr>
            </tbody>
        </table>

        <div class="ui two column grid">
            <div class="column" id="piechart1" style="width:550px; height:300px;">
            </div>
            <div class="column" id="piechart2" style="width:550px; height:300px;">
            </div>
        </div>
        <h2>Tittel her</h2>
    </div>

    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawChart1();
            drawChart2();
        }

        function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Eat', 2],
                ['TV', 4],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            var options = {
                'title': 'My Average Day 1'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
            chart.draw(data, options);
        }

        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Eat', 2],
                ['TV', 4],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            var options = {
                'title': 'My Average Day 2'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
            chart.draw(data, options);
        }
    </script>
</body>

</html>
