/* Custom CSS here */
.leaflet-container {
    height: 600px;
    width: 80%;
    margin: 5% auto 0 auto;
}

html,
body {
    height: 100%;
}

/* STYLING FOR SIDEBAR */
.sidebarLink {
    font-size: 18px;
    color: gray;
    text-align: left !important;
}

.sidebarHeaders {
    padding-top: 10px;
    text-align: left;
}

.sidebarComponents{
    margin-left: 30px;

}

#sidebarHeader {
    margin-top: 10px;
    text-align:  left;
    margin-left: 30px;
    font-size: 40px;
}


