/* Custom CSS here */
.leaflet-container {
  height: calc(100vh - 73px);
  width: 100%;
  margin: 0;
  z-index: 0;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

/* STYLE FOR UNIVERSAL DESIGN */
.mainSegment {
  padding-top: 0 !important;
}

.footerPusher {
  padding-bottom: 300px;
}

@media only screen and (max-width: 1280px) {
  .mapGrid {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }

  @media only screen and (max-width: 991px) {
    .mapGrid {
      padding-right: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .mapRow {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
  }

  .homePageContainer {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }

  .footerPusher {
    padding-bottom: 465px !important;
  }

  .frontPageFeed {
    height: calc(100vh - 73px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .frontPageFeedTab {
    border-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* STYLING FOR SIDEBAR */
.sidebarLink {
  font-size: 18px;
  color: gray;
  text-align: left !important;
}

.sidebarHeaders {
  padding-top: 10px;
  text-align: left;
}

.sidebarComponents {
  margin-left: 30px;
}

#sidebarHeader {
  margin-top: 10px;
  text-align: left;
  margin-left: 30px;
  font-size: 40px;
}

/* STYLING FOR PICTURE UPLOAD */

input[type='file'] {
  display: none;
}

#upload {
  display: none;
}
