/* Custom CSS here */
.leaflet-container {
    height: 600px;
    width: 80%;
    margin: 5% auto 0 auto;
}

html,
body {
    height: 100%;
}

.sidebarLink {
    font-size: 18px;
    color: gray;
}

.sidebarHeaders {
    padding-top: 10px;
}

#sidebarHeader {
    margin-top: 10px;
}
